@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.date {
    color: #505258;
    margin-top: 20px;

    &__created {
        font-size: $small-size;
    }

    &__updated {
        font-size: $small-size;
    }
}
