$main-color: #1d2939;
$done-task: #d1fadf;
$link: #4186f4;
$white: #ffffff;
$white-logo: #f2f2f2;
$status-task: #667085;
$green: #22c55e;

$todo-background-color: #dcdcdc;
$todo-color: #000000;

$blocked-background-color: #ffeeee;
$blocked-color: #de350c;

$completed-background-color: #e8ffe0;
$completed-color: #01875a;

$in-progress-background-color: #dbe9ff;
$in-progress-color: #3063d1;

$widget: #27272a;
