.toolbar {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid lightgray;
    padding: 5px 20px;

    &__active {
        border-radius: 4px;
        background: grey;
        width: 24px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
    }

    &__btn {
        transition: 0.8s;
        background: none;
        width: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: grey;
            width: 24px;
            transition: 0.8s;
            text-align: center;
            padding-top: 5px;
            border-radius: 4px;
        }
    }

    &__select {
        position: relative;
    }

    &__heading {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
        width: 196px;
        background: white;
        z-index: 500;

        &__btn {
            background: none;
            cursor: pointer;
            padding: 0 20px;
            width: 100%;
            text-align: left;

            &:hover {
                background: #091e420f;
            }
        }
    }

    &__color {
        position: relative;
    }
}
