.automation {
    width: 401px;
    border: 1px solid #091e4224;
    color: black;
    margin-top: 12px;
    border-radius: 4px;

    &__title {
        cursor: pointer;
        transition: 0.8s;
        padding: 8px;

        &:hover {
            background: #091e420f;
            transition: 0.8s;
        }
    }
}
